/* Base styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  line-height: 1.17;
}

:root {
  --brand-color: #434455;
}

/* header */

header {
  background: #ffffff;
}

/* Navigation */

.nav {
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
}

.nav-list {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-list-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

/* Contacts */

.address-list {
  color: #434455;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.address-link {
  color: #434455;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Main */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-family: 'Roboto' sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* Advantages */

.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-list-subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.advantages-list-desc {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* What we do  */

.whatwedo {
}
.whatwedo-title {
}
.whatwedo-list {
}
.whatwedo-list-item {
}

/* Our Team */

.ourteam {
  background-color: #f4f4fd;
}
.ourteam-title {
}
.ourteam-list {
}
.ourteam-list-item {
}

/* Footer */

footer {
  background-color: #2e2f42;
}

.footer-desc {
}
