/* Base styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */

header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
}

/* Navigation */

.menu-nav-list-item {
  color: #2e2f42;
}

.menu-nav-list-item:hover {
  color: #404bbf;
}

/* Contacts */

.address-list {
}

/* Main */

.hero {
  background-color: #2e2f42;
}
.hero-title {
}
.hero-btn {
}

/* Advantages */

.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-list-subtitle {
}
.advantages-list-desc {
}

/* What we do  */

.whatwedo {
}
.whatwedo-title {
}
.whatwedo-list {
}
.whatwedo-list-item {
}

/* Our Team */

.ourteam {
  background-color: #f4f4fd;
}
.ourteam-title {
}
.ourteam-list {
}
.ourteam-list-item {
}

/* Footer */

footer {
  background-color: #2e2f42;
}

.footer-desc {
}
